---
---

@import "minimal-mistakes/skins/default"; // garde ton skin actuel
@import "minimal-mistakes"; // charge le thème

/* ====== Font Google ====== */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

body {
  font-family: "Inter", sans-serif !important;
}

/* ====== Fond personnalisé ====== */
body {
  background-image: url("/assets/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}